<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-feature android:name="android.hardware.type.watch" />

    <application android:allowBackup="false" android:icon="@drawable/ic_starintel" android:label="@string/app_name" android:theme="@style/AppTheme">
        <meta-data android:name="com.google.android.wearable.standalone" android:value="true" />

        <activity
            android:name=".MainActivity"
            android:icon="@drawable/ic_starintel"
            android:exported="true"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:taskAffinity="actor.starintel.wear.home">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity
            android:name=".SearchActivity"
            android:icon="@drawable/ic_launcher_search"
            android:exported="true"
            android:label="@string/search_app_name"
            android:launchMode="singleTask"
            android:taskAffinity="actor.starintel.wear.search">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity
            android:name=".SearchAlertsActivity"
            android:icon="@drawable/ic_launcher_search_alerts"
            android:exported="true"
            android:label="@string/search_alerts_app_name"
            android:launchMode="singleTask"
            android:taskAffinity="actor.starintel.wear.searchalerts">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity
            android:name=".ExplorerActivity"
            android:icon="@drawable/ic_launcher_explorer"
            android:exported="true"
            android:label="@string/explorer_app_name"
            android:launchMode="singleTask"
            android:taskAffinity="actor.starintel.wear.explorer">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity
            android:name=".TargetsActivity"
            android:icon="@drawable/ic_launcher_targets"
            android:exported="true"
            android:label="@string/targets_app_name"
            android:launchMode="singleTask"
            android:taskAffinity="actor.starintel.wear.targets">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity
            android:name=".GraphActivity"
            android:icon="@drawable/ic_launcher_graph"
            android:exported="true"
            android:label="@string/graph_app_name"
            android:launchMode="singleTask"
            android:taskAffinity="actor.starintel.wear.graph">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity
            android:name=".ActivityTimelineActivity"
            android:icon="@drawable/ic_launcher_graph"
            android:exported="true"
            android:label="@string/activity_app_name"
            android:launchMode="singleTask"
            android:taskAffinity="actor.starintel.wear.activity">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity
            android:name=".GoalGaugesActivity"
            android:icon="@drawable/ic_launcher_gauges"
            android:exported="true"
            android:label="@string/gauges_app_name"
            android:launchMode="singleTask"
            android:taskAffinity="actor.starintel.wear.gauges">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity android:name=".DocumentViewerActivity" android:exported="false" />
        <activity android:name=".ConfigActivity" android:exported="false" />
        <activity android:name=".packages.PackageInstallActivity" android:exported="false" android:launchMode="singleTask" />

        <service android:name=".sync.StarIntelSyncJobService" android:exported="false" android:permission="android.permission.BIND_JOB_SERVICE" />
        <service android:name=".sync.CompanionConfigService" android:exported="true">
            <intent-filter><action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" /><data android:scheme="wear" android:host="*" android:pathPrefix="/starintel/config" /></intent-filter>
        </service>
        <service android:name=".packages.PackageTransferService" android:exported="true">
            <intent-filter><action android:name="com.google.android.gms.wearable.CHANNEL_EVENT" /><data android:scheme="wear" android:host="*" android:pathPrefix="/starintel/packages/v1" /></intent-filter>
            <intent-filter><action android:name="com.google.android.gms.wearable.MESSAGE_RECEIVED" /><data android:scheme="wear" android:host="*" android:pathPrefix="/starintel/packages/status-query/v1" /></intent-filter>
        </service>

        <service android:name=".tiles.OpsTileService" android:exported="true" android:label="@string/tile_ops" android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter><action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" /></intent-filter><meta-data android:name="androidx.wear.tiles.PREVIEW" android:resource="@drawable/ic_starintel" />
        </service>
        <service android:name=".tiles.TargetsTileService" android:exported="true" android:label="@string/tile_targets" android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter><action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" /></intent-filter><meta-data android:name="androidx.wear.tiles.PREVIEW" android:resource="@drawable/ic_starintel" />
        </service>
        <service android:name=".tiles.CorpusTileService" android:exported="true" android:label="@string/tile_corpus" android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter><action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" /></intent-filter><meta-data android:name="androidx.wear.tiles.PREVIEW" android:resource="@drawable/ic_starintel" />
        </service>
        <service android:name=".tiles.ActivityTileService" android:exported="true" android:label="@string/tile_activity" android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter><action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" /></intent-filter><meta-data android:name="androidx.wear.tiles.PREVIEW" android:resource="@drawable/ic_starintel" />
        </service>
        <service android:name=".tiles.SearchTileService" android:exported="true" android:label="@string/tile_search" android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter><action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" /></intent-filter><meta-data android:name="androidx.wear.tiles.PREVIEW" android:resource="@drawable/ic_starintel" />
        </service>
        <service android:name=".tiles.StackTileService" android:exported="true" android:label="@string/tile_stack" android:permission="com.google.android.wearable.permission.BIND_TILE_PROVIDER">
            <intent-filter><action android:name="androidx.wear.tiles.action.BIND_TILE_PROVIDER" /></intent-filter><meta-data android:name="androidx.wear.tiles.PREVIEW" android:resource="@drawable/ic_starintel" />
        </service>

        <service android:name=".complications.StatusComplicationService" android:exported="true" android:label="@string/complication_status" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SHORT_TEXT" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300" />
        </service>
        <service android:name=".complications.TargetsComplicationService" android:exported="true" android:label="@string/complication_targets" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SHORT_TEXT" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300" />
        </service>
        <service android:name=".complications.DocumentsComplicationService" android:exported="true" android:label="@string/complication_documents" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SHORT_TEXT" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300" />
        </service>
        <service android:name=".complications.TargetDocumentsComplicationService" android:exported="true" android:label="@string/complication_target_documents" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SHORT_TEXT" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300" />
        </service>
        <service android:name=".complications.InvestigationTargetsComplicationService" android:exported="true" android:label="@string/complication_investigation_targets" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SHORT_TEXT" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300" />
        </service>
        <service android:name=".complications.FreshnessComplicationService" android:exported="true" android:label="@string/complication_freshness" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SHORT_TEXT" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300" />
        </service>
        <service android:name=".complications.DocumentsGoalComplicationService" android:exported="true" android:label="@string/complication_documents_goal" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SHORT_TEXT,RANGED_VALUE" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300" />
        </service>
        <service android:name=".complications.TargetsGoalComplicationService" android:exported="true" android:label="@string/complication_targets_goal" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SHORT_TEXT,RANGED_VALUE" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300" />
        </service>
        <service android:name=".complications.DocumentTypeGoalComplicationService" android:exported="true" android:label="@string/complication_document_type_goal" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SHORT_TEXT,RANGED_VALUE" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300" />
        </service>
        <service android:name=".complications.DocumentRateGoalComplicationService" android:exported="true" android:label="@string/complication_document_rate_goal" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SHORT_TEXT,RANGED_VALUE" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300" />
        </service>
        <service android:name=".complications.ActivityGraphComplicationService" android:exported="true" android:label="@string/complication_activity_graph_auto" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SMALL_IMAGE" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300" />
        </service>
        <service android:name=".complications.ActivityGraph1mComplicationService" android:exported="true" android:label="@string/complication_activity_graph_1m" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"><intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SMALL_IMAGE" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="60" /></service>
        <service android:name=".complications.ActivityGraph5mComplicationService" android:exported="true" android:label="@string/complication_activity_graph_5m" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"><intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SMALL_IMAGE" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="60" /></service>
        <service android:name=".complications.ActivityGraph15mComplicationService" android:exported="true" android:label="@string/complication_activity_graph_15m" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"><intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SMALL_IMAGE" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="60" /></service>
        <service android:name=".complications.ActivityGraph1hComplicationService" android:exported="true" android:label="@string/complication_activity_graph_1h" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"><intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SMALL_IMAGE" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300" /></service>
        <service android:name=".complications.ActivityGraph6hComplicationService" android:exported="true" android:label="@string/complication_activity_graph_6h" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"><intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SMALL_IMAGE" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="300" /></service>
        <service android:name=".complications.ActivityGraph1dComplicationService" android:exported="true" android:label="@string/complication_activity_graph_1d" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"><intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SMALL_IMAGE" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="900" /></service>
        <service android:name=".complications.ActivityGraph1wComplicationService" android:exported="true" android:label="@string/complication_activity_graph_1w" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER"><intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SMALL_IMAGE" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="1800" /></service>
        <service android:name=".complications.GeoActivityComplicationService" android:exported="true" android:label="@string/complication_geo_activity" android:permission="com.google.android.wearable.permission.BIND_COMPLICATION_PROVIDER">
            <intent-filter><action android:name="android.support.wearable.complications.ACTION_COMPLICATION_UPDATE_REQUEST" /></intent-filter><meta-data android:name="android.support.wearable.complications.SUPPORTED_TYPES" android:value="SHORT_TEXT,SMALL_IMAGE" /><meta-data android:name="android.support.wearable.complications.UPDATE_PERIOD_SECONDS" android:value="900" />
        </service>
    </application>
</manifest>
